TestGMAP/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_Position">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_Position" nillable="true" type="tns:T_Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_Position" nillable="true" type="tns:ArrayOfT_Position" />
  <xs:complexType name="T_Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="T_MarkerType" nillable="true" type="tns:T_MarkerType" />
      <xs:element minOccurs="0" name="T_TechUnit" nillable="true" type="tns:T_TechUnit" />
      <xs:element minOccurs="0" name="id_markerType" type="xs:int" />
      <xs:element minOccurs="0" name="id_position" type="xs:int" />
      <xs:element minOccurs="0" name="id_techUnit" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longtitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_Position" nillable="true" type="tns:T_Position" />
  <xs:complexType name="T_MarkerType">
    <xs:sequence>
      <xs:element minOccurs="0" name="T_Position" nillable="true" type="tns:ArrayOfT_Position" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_markerType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_MarkerType" nillable="true" type="tns:T_MarkerType" />
  <xs:complexType name="T_TechUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="T_Position" nillable="true" type="tns:ArrayOfT_Position" />
      <xs:element minOccurs="0" name="id_techUnit" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_TechUnit" nillable="true" type="tns:T_TechUnit" />
</xs:schema>