TestGMAP/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1225/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="getAllPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getAllPositionsResult" nillable="true" type="q1:ArrayOfT_Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="latitude" type="xs:float" />
        <xs:element minOccurs="0" name="longtitude" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPositionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRandomPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minLat" type="xs:float" />
        <xs:element minOccurs="0" name="minLong" type="xs:float" />
        <xs:element minOccurs="0" name="maxLat" type="xs:float" />
        <xs:element minOccurs="0" name="maxLong" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRandomPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addRandomPositionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeMarkerColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeMarkerColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeMarkerColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>